extends layout

block content
    .container.tlm-title
        .row
            .col-lg-4
                h1.display-4 TLM Server
                h3.tlm-subtitle 本站点为车万女仆资源包发布测试网站<br><br>当前网页版本：1.0.0
            .col-lg-5
                img.img-fluid(src="./images/untitled.68.png")
            .col-lg-3
        .row.tlm-columns
            .col-lg-3
                h3 模组介绍
                p Touhou Little Maid 模组是一个可以制作自定义模型的 Minecraft 1.12.2 的模组。你可以通过 Blockbench 这样的软件，快速制作出自己喜欢的角色。
            .col-lg-3
                h3 网站使用简介
                p 在此网站注册后，即可创建项目，上传文件。文件审核通过后会直接在游戏内的资源包下载界面看到你所发布的内容，让更多玩家享受你所制作的内容。
            .col-lg-3
                h3 模型如何制作
                p 只需要 Blockbench 和 Blockbench 的车万女仆插件即可，具体可访问上方的“文档”部分了解详情。如果有不懂的内容，也可以加入 QQ 群进行在线解答分享。
            .col-lg-3
