extends layout

block content
    .container.tlm-title
        .row
            .col-lg-4
                h1.display-4 瓦尔登湖
                h3.tlm-subtitle 并非在大雪之中没有通往前庭的门，而是没有门，没有前庭，更没有一条路通往文明的世界！
            .col-lg-5
                img.img-fluid(src="./images/main.jpg")
            .col-lg-3
        .row.tlm-columns
            .col-lg-3
                h3 局限的主题
                p 如果我的知人之深，比得上我的自知之明，我就不会畅谈自我，谈那么多了。不幸我阅历浅陋，我只得局限于这一个主题。
            .col-lg-3
                h3 生命的美果
                p 大多数人，即使是在这个比较自由的国土上的人们，也仅仅因为无知和错误，满载着虚构的忧虑，忙不完的粗活，却不能采集生命的美果。
            .col-lg-3
                h3 人生的宗旨
                p 当我们用教义问答法的方式，思考着什么是人生的宗旨，什么是生活的真正的必需品与资料时，仿佛人们还曾审慎从事地选择了这种生活的共同方式，而不要任何别的方式似的。
            .col-lg-3
